<div class="band" >
    <div class="item-1" ng-repeat="item in givenDvds">
        <div href="" class="card">
            <div class="thumb" ng-if="!item.dvd.poster" style="background-image: url(/resources/img/unknown.jpg);"></div>
            <div class="thumb" ng-if="item.dvd.poster" style="background-image: url(data:image/jpeg;base64,{{item.dvd.poster}});"></div>
            <article>
                <h1>{{item.dvd.name}}</h1>
                <span>{{item.dvd.description}}</span>

            </article>
            <span class="user-label">{{item.profile.name}}</span>

            <div class="button-bar text-center">
                <button class="btn btn-primary"  ng-click="pickup(item)">Забрать</button>
            </div>
        </div>
    </div>
</div>